*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.vcxproj
*.vcxproj.filters
*.dir/
*.exp
*.lib

CMakeCache.txt
cmake_install.cmake

/CMakeFiles/
/x64/
/Debug/
/.vs/
/Release/
/Release/